<div class="row">
  <div class="span9">
    <p>あなたの投票がMVPを決める</p>
    <p class="lead">
      You<br>Decide<br>the MAN
    </p>
  </div>
</div>
<div class="row">
  <div class="span9 game-title">
    <p>
      <h4><%= @game.date %></h4>
      <h3><%= @game.title %></h3>
      <h4>@<%= STADIUMS[@game.stadium] %></h4>
    </p>
  </div>
</div>
<div class="row">
  <% if @user_name.nil? %>
    <%= form_tag({ :controller => 'account', :action => 'login' }, { :id => 'ini-form' }) do %>
      <%= text_field_tag 'user_name', '', { :size => 50, :placeholder => 'ユーザ名を登録' } %><br>
      <%= submit_tag '参加', { :class => 'btn'} %><br>
      <small>※ MVP投票集計以外の目的には使用されません</small><br>
      <small>※ このユーザ名は10時間後に破棄され無効になります</small>
    <% end %>
  <% else %>
    <h3><%= @user_name %>::参加中</h3>
    <h4><%= link_to('Players', {:controller => 'players'}) %></h4>
  <% end %> 
</div>
