<%= render(:partial => "head") %>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="contents">
      <%= link_to('theMAN-Admin', {:controller => 'admin', :action => 'game'}, {:class => 'brand'}) %>
      <% unless session[:login_name].nil? %>
      <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
          <a  href="#" role="button" class="um dropdown-toggle">
            hoge<b class="caret"></b>
          </a>
          <ul class="dropdown-menu hide" role="menu" arial-labeledby="drop_accou">
            <li>
              <a tabindex="-1" href="http://soundhook.net/listory">listory</a>
            </li>
            <li>
              <a tabindex="-1" href="http://soundhook.net/settings">settings</a>
            </li>
            <li>
              <a tabindex="-1" href="http://soundhook.net/">home</a>
            </li>
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="http://soundhook.net/signout">sign out</a>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Sign out', {:controller => 'account', :action => 'adminsignout'}) %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
<div class="contents">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-pills nav-stacked affix">
        <li <% if controller.action_name == 'game' %>class="active"<% end %>>
          <%= link_to('試合登録', {:controller => 'admin', :action => 'game'}) %>
        </li>
        <li <% if controller.action_name == 'list' %>class="active"<% end %>>
          <%= link_to('選手リスト', {:controller => 'admin', :action => 'players'}) %>
        </li>
        <li <% if controller.action_name == 'list' %>class="active"<% end %>>
          <%= link_to('一括更新', {:controller => 'admin', :action => 'players'}) %>
        </li>
      </ul>
    </div>
    <div class="span9 main">
      <h5>直近の試合を登録</h5>
    </div>
  </div>
</div>
</body>
</html>
