<html>
<%= render(:partial => "head") %>
<body>
<%= render(:partial => "navbar") %>

<div class="contents">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
      <%= render(:partial => "sidebar") %>
    </div>
    <div class="span9 main">
      <h5>新しい選手を登録</h5>
      <div>
        <%= form_for(@player, :html => {:multipart => true}) do |f| %>
        <dl class="dl-horizontal">
          <dt class="newplayer">氏名</dt><dd><%= f.text_field :name %></dd>
          <dt class="newplayer">かな</dt><dd><%= f.text_field :kana %></dd>
          <dt class="newplayer">所属チーム</dt><dd><%= f.select :team, TEAMS_FORM %></dd>
          <dt class="newplayer">背番号</dt><dd><%= f.select :number, (1..99).to_a %></dd>
          <dt class="newplayer">ポジション</dt><dd><%= f.select :position, POSITIONS_FORM %></dd>
          <dt class="newplayer">学年</dt><dd><%= f.select :grade, GRADES_FORM %></dd>
          <dt class="newplayer">出身地</dt><dd><%= f.select :from, REGION_FORM %></dd>
          <dt class="newplayer">画像</dt><dd><input type="file" name="file" accept="image/jpg"></dd>
          <dt class="newplayer">紹介文</dt><dd><%= f.text_area :introduction, :cols => 30, :rows => 3 %></dd>
          <dt class="newplayer">　</dt><dd><%= f.submit('新しく追加する', :class => 'btn btn-info btn-small') %></dd>
        </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
