<html>
<head>
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link rel="stylesheet" href="/assets/spec/adminmenue.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="contents">
      <%= link_to('theMAN-Admin', {:controller => 'adminmenue'}, {:class => 'brand'}) %>
    </div>
  </div>
</div>
<div class="contents">
  <h1 class="lead xlg">Login as an administrator</h1>
  <%= form_tag({ :controller => 'account', :action => 'adminlogin' }) do %>
    <%= text_field_tag 'team','', {:size => 200, :placeholder => 'チーム名', :class => 'lg' } %><br>
    <%= text_field_tag 'name','', {:size => 200, :placeholder => '管理者名', :class => 'lg' } %><br>
    <%= password_field_tag 'password','', { :size => 60, :placeholder => 'パスワード' , :class => 'lg'} %><br>
    <%= submit_tag 'Login', { :class => 'btn'} %>
  <% end %>
</div>
</body>
</html>
