<% @players.each_with_index do |player, _i| %>
  <tr id="<%= player['number'] %>" class="anchor">
    <!-- thumbnail -->
    <td class="prof">
      <%#= link_to image_tag(player['imgurl'], :class => 'prof-img delayload', :data => '/assets/' + player['imgurl']), player %>
      <a href="<%=BASE_URL%>players/<%=player['id']%>"><img src="" class="prof-img delayload" data="<%=BASE_URL%>assets/<%=player['imgurl']%>"></a>
    </td>
    <!-- info -->
    <td class="info">
      <a href="/players/<%= player['id'] %>">
      <span class="sharp">#</span><span class="backnumber"><%= player['number'] %></span>
      .<%= POSITIONS[player['position']] %>
      .<%= GRADES[player['grade']] %><br>
      <span class="player-name"><%= player['name'] %></span><br>
      <small><%= player['kana'] %></small><br>
      <!-- <%= link_to 'Show', player %> -->
      </a>
    </td>
    <!-- stars -->
    <td class="stars">
      <small><small>Today</small>: <%= player['score'] %></small><br>
      <!-- current -->
      <% player['point_big'].to_i.times do %>
        <%= image_tag 'src/star_big.png', :class => 'img-star-twenty delayload' %>
      <% end %>
      <% player['point_one'].to_i.times do %>
        <%= image_tag 'src/star_small.png', :class => 'img-star delayload' %>
      <% end %>
      <br>
      <!-- vote -->
      <%= form_tag({ :action => 'vote' }, { :class => 'hoge' }) do %>
        <%= hidden_field_tag('id', player['id']) %>
        <%= submit_tag 'ええやん！', { :class => 'btn btn-info btn-mini' } %>
      <% end %>
      <small><small>（So Far : <%= player['point_total'] %>）</small></small>
    </td>
    <!--td><%= link_to 'Edit', edit_player_path(player) %></td-->
    <!--td><%= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td-->
  </tr>
<% end %>

