<table class="table show">
  <tr>
    <!-- thumbnail -->
    <td class="prof">
      <%= link_to image_tag(@player.imgurl, :class => 'prof-img'), @player %>
    </td>

    <!-- info -->
    <td class="info">
      <span class="sharp">#</span><span class="backnumber"><%= @player.number %></span>
      <br>
      <%= POSITIONS[@player.position] %>　<%= GRADES[@player.grade] %><br>
      <span class="player-name"><%= @player.name %></span><br>
      <small class="xsml"><%= @player.kana %></small>
    </td>
  </tr>

  <tr>
    <!-- stars -->
    <td class="stars">
      <!-- current -->
      <% if @player.points.nil? %>
        0
      <% else %>
        <% @player.point_big.to_i.times do %>
          <%= image_tag 'src/star_big.png', :class => 'img-star-twenty' %>
        <% end %>
        <% @player.point_one.to_i.times do %>
          <%= image_tag 'src/star_small.png', :class => 'img-star' %>
        <% end %>
        <small><%= @player.points %></small>
      <% end %>
    </td>
    <td class="vote">
      <!-- vote -->
      <%= form_tag({ :action => 'vote' }, { :class => 'hoge' }) do %>
        <%= hidden_field_tag('id', @player.id) %>
        <%= submit_tag 'ええやん！', { :class => 'btn btn-info btn-mini' } %>
      <% end %>
    </td>
  </tr>

  <tr>
    <td colspan="2" class="info2">
      <blockquote class="pull-right">
        <p>
          <small>紹介</small>
          <%= @player.introduction %>
          <small>出身</small>
          <%= @player.from %><br>
          <small>学部学科</small>
          <%= @player.dept %><br>
          <small>経験スポーツ</small>
          <%= @player.sport %>
          <small>左京区でお気に入りスポット</small>
          <%= @player.favorite %>
          <small>その理由</small>
          <%= @player.reason %>
        </p>
      </blockquote>
    </td>
  </tr>

</table>
