<!DOCTYPE html>
<html>
<head>
  <title>ええやん！</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--link rel="stylesheet" href="bootstrap/css/bootstrap.css" /-->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="shorcut icon" href="/assets/logos/icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="apple-touch-icon" href="/assets/logos/icon.png" />
  <script type="text/javascript" src="http://otiai10.com/delayload/delayload.js"></script>
</head>
<%# 応急処理的なw %>
<% if(controller_name != 'top') %>
<body style="background-image:url('/assets/game/<%= @game[:home] %>_<%= @game[:away] %>.<%= IMG_EXTENTION %>');">
<% else %>
<%# TODO: gameモデルのキーをhome,awayに統一する %>
<body style="background-image:url('/assets/game/<%= @game[:hometeam] %>_<%= @game[:awayteam] %>.<%= IMG_EXTENTION %>');">
<% end %>
<!-- twitterbootstrap navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to(raw('ええやん！'), {:controller => 'top'}, {:class => 'brand'}) %>
    <ul class="nav pull-right">
      <!-- li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li -->
      <li>
        <div class="login-info">
          <p></p>
          <% unless @user_name.nil? %>
            <%= link_to(raw('<span class="xsml">' + @user_name + 'あと' + @vote_left.to_s + '回</span>'), {:controller => 'players'}, {:class => 'brand'}) %>
            <%#= link_to(raw('<span class="xsml">' + @user_name + 'あと' + @vote_left.to_s + '回</span>'), {:controller => 'lottery'}, {:class => 'brand'}) %>
          <% end %>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- /twitterbootstrap navbar -->
<div class="contents">
<% if(controller_name != 'top') %><!-- div id="top-space"></div --><% end %>
<%= yield %>
<% if(controller_name == 'top') %>
<hr>
<div class="footer">
  <p class="xsml">copyright otiai10. All Right Reserved.</p>
</div>
<% end %>
</div>

<!-- twitterbootstrap navbar -->

<% if(controller_name != 'top') %>
  <div class="navbar navbar-footer <!--<% if(controller_name != 'top') %>navbar-fixed-bottom<% end %>-->">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="<% if(controller.action_name == 'index') %>active<% end %> center">
          <%= link_to( "ランキング", {:controller => 'players'}, {:class => 'brand'}) %>
        </li>
        <li class="<% if(controller.action_name == 'home') %>active<% end %> left">
          <%= link_to("背番号順", {:controller => 'players', :action => 'home' }, {:class => 'brand'}) %>
        </li>
        <!--li class="<%# if(controller.action_name == 'away') %>active<%# end %> right">
          <%# link_to(@game[:away], {:controller => 'players', :action => 'away' }, {:class => 'brand'}) %>
        </li-->
      </ul>
    </div>
  </div>
<% end %>

</body>
</html>
