<!DOCTYPE html>
<html>
<head>
  <title>Stars★</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
</head>
<body>
<!-- twitterbootstrap navbar -->
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <%= link_to('theMAN', {:controller => 'top'}, {:class => 'brand'}) %>
    <ul class="nav pull-right">
      <!-- li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li -->
      <li>
        <div class="login-info">
          <p>3月31日 京都大学vs関西学院大学</p>
          <% unless @user_name.nil? %>
            <p><%= @user_name %>として参加中</p>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /twitterbootstrap navbar -->
<div class="contents">
<%= yield %>
</div>
</body>
</html>
